:root {
  --main-color: #282828;
  --black: #000000;
  --secondary-color: #ffffff;
  --primary-font: 'Lato', sans-serif;;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
img {
  width: 100%;
}

.nav-wrapper{
  background-color: var(--main-color);
  text-transform: uppercase;
}

.first {
  height: 90vh;
  background-image: url('./assets/photos/fondo1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.second {
  height: 90vh;
  background-image: url('./assets/photos/fondo2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page-footer {
  background-color: var(--black);
  height: 20vh;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  margin: 20px;
  color: white;
  width: 35px;
  height: 35px;
  background-color: var(--secondary-color);
}

.icon-container img:hover {
  cursor: pointer;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 450px);
  grid-gap: 5px;
  justify-content: center;
}

.item {
  border-radius: 5px;
  padding: 10px;
  background: #f2f2f2;
}

.item img {
  max-width: 100%
}

.level-1 {
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.level-2 {
  grid-column-end: span 2;
}

.level-3 {
  grid-column-end: span 1;
}

footer {
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 465px) {
  #MauroPawlun {
    font-size: 20px;
  }
}

@media screen and (max-width: 321px) {
  #MauroPawlun {
    font-size: 18px;
  }
}

@media (max-width: 767px) { 
  #galeria {
      columns:2;
  }
}

@media (max-width: 480px) {
  #galeria {
      columns: 1;
  }
}